# ROS 2 colcon workspace
my_robot_ws/build/
my_robot_ws/install/
my_robot_ws/log/

minilab2_ws/build/
minilab2_ws/install/
minilab2_ws/log/

# Workspace for week 6
ur3e_ws

# Jupyter
.ipynb_checkpoints/
*-checkpoint.*

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/

# OS / editor
.DS_Store
Thumbs.db
*~
*.swp
*.swo

